// Write Theme Specific Admin Styles Here
//Gutenberg Styles
.edit-post-layout__content .edit-post-visual-editor {
  background: white;

  p, li {
    font-family: 'ITC Caslon 224 Std';
  }
}



.editor-post-title__block .editor-post-title__input {
  font-family: 'ITC Caslon 224 Std', 'ITC Caslon No.224', 'Adobe Garamond Pro', 'Garamond', 'Baskerville', "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-size: 3.25rem;
  text-transform: none;
  font-weight: 900;
  letter-spacing: -0.025em;
  line-height: 1.1;
  color: black;
}

.wp-block-heading h1, .wp-block-heading h2, .wp-block-heading h3, .wp-block-heading h4, .wp-block-heading h5, .wp-block-heading h6 {
  font-family: 'Champion', sans-serif;
  text-transform: uppercase;
  letter-spacing: -.01em;
  line-height: .9;
  padding-top: .1em;
  color: $primaryaccent !important;
  font-weight: 500;
}

.wp-block-heading {
  h1.editor-rich-text__tinymce {
    font-size: 6rem;
    line-height: .9;
  }

  h2.editor-rich-text__tinymce {
    font-size: 5.5rem;
    line-height: .9;
  }

  h3.editor-rich-text__tinymce {
    font-size: 5rem;
    line-height: .9;
  }

  h4.editor-rich-text__tinymce {
    font-size: 4.5rem;
    line-height: .9;
  }

  h5.editor-rich-text__tinymce {
    font-size: 4rem;
    line-height: .9;
  }

  h6.editor-rich-text__tinymce {
    font-size: 3.5rem;
    line-height: .9;
  }
}

body:not(.mce-content-body) {
  figure.wp-block-pullquote {
    border: none;
    border-left: 6px solid #f26724;
    font: italic 1.6em/1.6em 'ITC Caslon 224 Std', 'ITC Caslon No.224', 'MrsEaves', 'Adobe Garamond Pro', 'Garamond', 'Baskerville', "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    margin: 1.5em 0;
    padding: 1em 1em .25em 1.5em;

    p {
      font-weight: 900 !important;
      font: inherit;
      font-size: 28px !important;
      line-height: 1.6 !important;
    }

    .wp-block-pullquote__citation {
      font-style: normal;
      font-family: 'Champion', 'League Gothic', 'Arial Narrow', sans-serif;
      text-transform: uppercase;
      letter-spacing: -.01em;
      line-height: .9;
      color: $primaryaccent;
      font-size: 28px;
      font-weight: 500;
    }
  }

  .wp-block-button__link, .wp-block-file .wp-block-file__button {
    display: inline-block;
    font-family: 'Champion', 'League Gothic', 'Arial Narrow', sans-serif;
    //  font-weight: 900;
    font-size: 1.5rem;
    text-transform: uppercase;
    /* padding: 0.556em 2.222em; */
    padding: 0.35rem 0.5rem 0.2rem;
    margin: 0.25rem 0;
    font-weight: normal;
    text-decoration: none;
    min-width: 148px;
    text-align: left;
    color: #fff;
    transition: 0.2s ease;
    border-radius: 2px;
    outline: none;
    text-align: center;
    border-radius: 0;
    font-weight: 500;

    i {}

    &:hover {}
  }

  .read-more-btn, .wp-block-file .wp-block-file__button, .wp-block-button__link:not(.has-background) {
    background: $primaryaccent;
    border: 4px double $primaryaccent;

    i {}

    &:hover {
      color: $primaryaccent !important;
      border-color: $primaryaccent;
      background: none;
    }
  }

  .wp-block-file .wp-block-file__button {
    margin: 0 1rem;
  }

  .wp-block-quote {
    position: relative;
    z-index: 1;
    display: block;
    margin: 1.5rem 3rem;
    font-size: 1.5rem;
    font-weight: 900;
    font-style: italic;
    line-height: 1.25;
    //  color: var(--brand);
    letter-spacing: -.02em;
    border: none !important;

    p {
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
      font-family: 'ITC Caslon 224 Std', 'ITC Caslon No.224', 'Adobe Garamond Pro', 'Garamond', 'Baskerville', "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
      font-weight: 900;
    }

    .wp-block-quote__citation {
      font-style: normal;
      font-family: 'Champion', 'League Gothic', 'Arial Narrow', sans-serif;
      text-transform: uppercase;
      letter-spacing: -.01em;
      line-height: .9;
      color: $primaryaccent;
      font-weight: normal;
      font-size: 2.5rem;
    }

    &:before,
    &:after {
      top: 50%;
      font-size: 5rem;
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      transform: translateY(-60%);
      height: auto;
      display: block;
      position: absolute;
      z-index: -2;
      opacity: 0.65;
    }

    &:before {
      left: -3rem;
      content: '{';
    }

    &:after {
      right: -3rem;
      content: '}';
    }
  }
}
