body,
p,
li,
#wpadminbar *,
body.wp-autoresize {
    font-family: 'Gotham', 'Avenir Next', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: normal;
    //    letter-spacing: -.025em;
}
h1,
h2,
h3,
h4,
h5,
.login label,
.wp-core-ui .button,
.wp-core-ui .button-primary,
.wp-core-ui .button-secondary {
    font-family: 'Gotham', 'Avenir Next', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: bold !important;
}
.login label {
    color: #ffffff;
    font-weight: normal !important;
}
.admin-color-midnight #wp-admin-bar-user-info .avatar {
    border-radius: 100px;
    border: 3px solid #eee;
}
.admin-color-midnight #wpadminbar,
#wpadminbar * {
    line-height: 36px;
}
#adminmenu .awaiting-mod,
#adminmenu .update-plugins {
    line-height: 15px;
}
#adminmenu li .awaiting-mod span,
#adminmenu li span.update-plugins span {
    line-height: 14px;
}
#login {
    position: relative;
    z-index: 1;
}
.login h1 a {
    background: none !important;
    margin-bottom: 10px;
    background-size: auto 100% !important;
    width: 100%;
}
.login h1:after {
    background-image: url(../../admin/img/FIWI-classic-website.svg) !important;
}
#wpfooter {
    width: 300px;
    background-image: url(../../admin/img/FIWI-classic-website-grey.svg);
    background-size: 300px auto;
    background-position: 50%;
    background-repeat: no-repeat;
}
#wpfooter p,
#wpfooter a {
    color: rgba(0, 0, 0, 0);
}
.wp-admin #wpadminbar #wp-admin-bar-site-name>.ab-item:before {
    color: rgba(0, 0, 0, 0) !important;
    background: url(../../admin/img/admin-logo.png) !important;
    background-size: auto 100% !important;
    background-repeat: no-repeat !important;
    background-position: 50% !important;
}
.acf-field .acf-label label {
    line-height: 2 !important;
}
#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
.folded #adminmenu li.current.menu-top {
    //    background: #F2B02A;
}
.fiwi-redirected-user.login h1 a {
    filter: brightness(100) !important;
}
@media screen and (max-width: 782px) {}
@font-face {
    font-family: 'Knockout';
    src: url('../../admin/fonts/Knockout-HTF47-Bantamweight.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url('../../admin/fonts/Gotham-Light.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url('../../admin/fonts/Gotham-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5, #titlediv #title {
    color: #eb3a24;
    text-transform: uppercase;
    font-size: 2rem !important;
    font-family: 'Knockout';
    font-weight: normal !important;
    line-height: 1.5 !important;
}

#titlediv #title {

    font-size: 3rem !important;
}
.form-table th,
.form-wrap label .wp-core-ui .button,
.wp-core-ui .button-primary,
.wp-core-ui .button-secondary, .acf-tab-group li a, .wp-core-ui p .button, .wp-core-ui .button-primary {
    font-family: 'Knockout';
    font-weight: normal !important;
    text-transform: uppercase;
    text-shadow: none !important;
}
.wrap .page-title-action {

    font-family: 'Knockout';
    font-weight: normal !important;
    text-transform: uppercase;
    text-shadow: none !important;
//        vertical-align: baseline;
    font-size: 1.5rem;//    height: auto;
    line-height: 1.25;
    vertical-align: middle;
    top: -7px;
}
.acf-tab-group li a {
    font-size: 1.25rem !important;
    font-family: 'Knockout';
    font-weight: normal !important;
//    line-height: 1.5 !important;

}
#update-nag, .update-nag {
//    font-family: 'MrsEaves';
//    font-weight: normal !important;
////    text-transform: uppercase;
//    text-shadow: none !important;
//    font-size: 1.5rem !important;
}
#adminmenu .wp-submenu-head,
#adminmenu a.menu-top {
//    line-height: 1.35;
}
.wp-core-ui p .button,
.wp-core-ui .button-primary {
    vertical-align: baseline;
    font-size: 1.5rem;
    height: auto;
    padding: 2px 10px;
}
.acf-field select {
    padding: 2px 10px !important;
}
